/* General */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  background: black;
  color: aliceblue;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* Teansition*/

a,
.btn {
  transition: all 300ms ease;
}

/* Desktop Nav */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 1rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: ghostwhite;
  text-decoration: none;
  text-decoration-color: white;
  padding: 1px 10px;
  border-radius: 30px;
}

a:hover {
  color: ghostwhite;
  text-underline-offset: 0.5rem;
  text-decoration-color: ghostwhite;
  background-color: rgb(48, 48, 48);
}
.logo {
  font-size: 2.5rem;
  font-weight: bolder;
}
.logo:hover {
  cursor: default;
}

/* Hamburger Menu */

#hamburger-nav {
  display: none;
}
.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}
.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: aliceblue;
  transition: all 0.3 ease-in-out;
}
.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: black;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}
.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}
.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}
.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}
.hamburger-icon span:first {
  transform: none;
}
.hamburger-icon span:first {
  opacity: 1;
}
.hamburger-icon span:first {
  transform: none;
}

/* Section */
section {
  padding-top: 4hv;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* Profile Section */
#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}
.section_pic_container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}
.profile_pic {
  border-radius: 50%;
}
.section_text {
  align-self: center;
  text-align: center;
}
.section_text p {
  font-size: 600;
}
.section_text_p1 {
  text-align: center;
  color: rgb(167, 167, 167);
}
.section_text_p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: rgb(167, 167, 167);
}
.title {
  font-size: 3rem;
  text-align: center;
}
#social-media-container {
  color: ghostwhite;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}


/* Icons */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* Buttons */
.btn-container {
  display: flex;
  justify-content: center;
}
.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  border-radius: 2rem;
}
.btn-color-1 {
  border: white 0.1rem solid;
}
.btn-color-1:hover {
  cursor: pointer;
  background: black;
  color: white;
}

/* ABOUT SECTION */
#about {
  position: relative;
  /* position: relative;
  flex-wrap: wrap; */
}

.about_container {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about_detail_container {
  justify-content: center;
  flex-direction: column;
}

.about_container,
.about_detail_container {
  display: flex;
  /* background-color: black; */
}

.about-pic {
  border-radius: 3rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container p,
.text_container p {
  color: rgb(167, 167, 167);
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: rgb(40, 40, 40);
  border-radius: 2rem;
  border: rgb(202, 202, 202) 0.2rem solid;
  border-color: rgb(224, 224, 224);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section_pic_container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* Experience Section */
#experience {
  position: relative;
}
.experience-sub-title {
  color: rgb(167, 167, 167);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}
.experience-details-continer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}
article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}
article .icon {
  cursor: default;
}

/* Preject Section */
#projects {
  position: relative;
}
.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(40, 40, 40);
}
.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}
.project-title {
  margin: 1rem;
  color: ghostwhite;
}

/* Contact Section */
#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-top {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.2rem solid;
  border-color: rgb(163, 163, 163);
  background: rgb(40, 40, 40);
  margin: 2rem auto;
  padding: 0.5rem;
}
.contact-info-top a {
  color: ghostwhite;
}
.contact-info-top a:hover {
  color: ghostwhite;
  background: rgb(40, 40, 40);
}
.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}
.contact-info p {
  font-size: large;
}
.contact-icon {
  cursor: default;
}

/* Footer Section */
footer {
  height: 20vh;
  margin: 0.1rem;
}
footer p {
  text-align: center;
  color: rgb(167, 167, 167);
}

/* Media Queries */
@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about_container {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}
@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-continer {
    margin-top: 2rem;
  }
  #profile, .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section_pic_container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about_container {
    margin-top: 0;
  }
}
@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile{
    height: 83vh;
    margin-bottom: 0;
    
  }
  article{
    font-size: 1rem;
  }
  footer nav{
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about_container,
  .contact-info-top,
  .btn-container{
    flex-wrap: wrap;
  }
  .contact-info{
    margin: 0;
  }
  .contact-info p, .nav-links li a{
    font-size: 1rem;
  }
  .experience-sub-title{
    font-size: 1.25rem;
  }
  .logo{
    font-size: 1.5rem;
  }
  .nav-links{
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section_pic_container{
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section_text_p2{
    font-size: 1.25rem;
  }
  .title{
    font-size: 2rem;
  }
  .text_container{
    text-align: justify;
  }
}
